

/* If the view is equal to 400px or less */
@media only screen and (max-width:466px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand
    {
        padding: 5%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .about-area .about-title h2>span{
        font-size: 40px;
        letter-spacing: normal;
    }
    .site-main .project-area .title-text h2{
        position: relative;
    }

 
    .slides>li {
    background-size:contain;
    background-position: center center;
    margin: 0;
    padding: 0;
    }

}

@media only screen and(max-width:768px){
    .site-main .about-area .about-title h2>span{
        font-size:31px;
        letter-spacing: 10px;
    }
}

@media only screen and(max-width:1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .project-area,
    .site-main .about-area{
        padding: 3% 4%;
    }
}